.secondaryHeader {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: hidden;
  background-color: transparent;
}

.headerBg {
  background-color: var(--momoto-beige);
  height: 50px;
}

.secondaryHeader .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.secondaryHeader .nav-menu a {
  color: #ffffff;
}

.secondaryHeader .nav img {
  width: 250px;
  height: auto;
}

.secondaryHeader .nav-menu {
  display: flex;
}

.secondaryHeader .nav-item {
  padding: 1rem;
  font-weight: 500;
}

.secondaryHeader .nav-item a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}

.main {
  margin: 0 100px 0 100px;
}
