.productPrice {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}

.productName {
  margin: 0;
}

.productInfo {
  margin-top: 0.5rem;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  & * {
    text-decoration: none;
  }
}
