.footer {
  width: 100%;
  background-color: var(--momoto-beige);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem var(--momoto-margin) 1rem var(--momoto-margin);
}

.footerRow {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  align-items: center;
}

.footerColumn {
  display: flex;
  flex-direction: column;
}

.footerHeader {
  font-size: var(--momoto-body-font-size);
  font-weight: var(--momoto-body-medium-font-weight);
}

.footerLink {
  font-size: var(--momoto-body-font-size);
  text-decoration: underline;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.copyright {
  font-weight: 300;
}

.socialMediaIcons {
  display: flex;
  gap: 1rem;
}

.footerColumns {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

@media (max-width: 480px) {
  .footerRow,
  .footerColumns,
  .footerColumn,
  .links,
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footerColumns,
  .footerRow {
    gap: 1rem;
  }

  .copyright {
    font-size: var(--momoto-small-font-size);
  }
}
