.productPrice {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}

.productName {
  margin: 0;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  & * {
    text-decoration: none;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0;
  cursor: pointer;
}
