.wrapper {
  margin: 50px var(--momoto-margin);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.categories {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover * {
    font-size: 3rem;
    transition: 0.1s ease-in;
  }
}
