.breadcrumbRoot {
  margin-top: 2rem;
}

.breadcrumbItem {
  color: var(--momoto-gray);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.breadcrumbItem:last-child {
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }
}
